@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    max-width: max-content;
  }
  .choice {
    display: flex;
    width: 150px;
    height: 150px;
  }
  .title {
    font-size: xx-large;
  }
}
