@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    max-width: max-content;
  }
  .choice {
    display: flex;
    width: 150px;
    height: 150px;
  }

  .title {
    font-size: xx-large;
    letter-spacing: 0em;
    font-weight: 500;
  }
}

.score {
  width: 125px;
  height: 80px;
}
